<div class="result-block">
	<%= render 'layouts/messages' %>
</div>


<%if @stock%>
	<div class="card card-header result-block">
		<strong> Name:  </strong> <%= @stock.ticker %> 
		<strong> Company:  </strong> <%= @stock.name %>
		<strong> Price:  </strong> <%= @stock.last_price %>
		<% if current_user.can_track_stock?(@stock.ticker)%>
			<%= link_to "add to portfolio", user_stocks_path(ticker: @stock.ticker,user: current_user), class:"btn btn-xs btn-success", method: :post %>
		<% else %>
		<span class="badge badge-secondry">
			<%if !current_user.under_limit? %>
					you track maximum no. of stock
			<% end %>
			<% if current_user.stock_already_tracked?(@stock.ticker)%>
					you already track this stock
			<% end %>
		</span>
		<% end %>
	</div>
<%end%>